@charset "utf-8";

header{
    width:100%;
    margin:0 auto;
}

header h1{
    text-align:center;
    margin:0 auto;
}

body{
    margin: 0;
}



 /*------------------メインメニュー---------------------------*/

 .menu-container {
    margin: 0 auto;
    width:1120px;
  }
  
  .menu-container .main_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .menu-container .main_menu  .menu-item {
    flex: 1;
  }
  
  .menu-container .main_menu  .menu-item a {

	background:#ff3c22;
	border-radius:10px;
    border-right: 1px solid #ccc;
    color: #fff;
    display: block;
    padding: 0.6em 0.4em;
    text-align: center;
    text-decoration: none;
    width:92%;
  }
  
  .menu-container .main_menu  .menu-item a:hover {
    background: #ccc;
    color: #ffffff;
  }
  
  .menu-container .main_menu  .menu-item:last-child a {
    border-right: none;
  }
  
  

  /*------------------------------------ハンバーガーアイコン----------------------*/
  .hamburger {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 50px;
    display: none;
    margin-bottom: 0.4em;
  }
  
  .hamburger span {
    background: #cccccc;
    display: block;
    height: 16%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    width: 84%;
  }
  
  .hamburger span::before,
  .hamburger span::after {
    background: #cccccc;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  
  .hamburger span::before {
    margin-top: -38%;
  }
  
  .hamburger span::after {
    margin-top: 19%;
  }
  
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-block;
      position: absolute;
      z-index:100;
      top: 0%;
    }




    .hamburger span {
        background: #cccccc;
        display: block;
        height: 16%;
        left: 50%;
        margin: -8% 0 0 -42%;
        position: absolute;
        top: 50%;
        width: 84%;
      }
      
      .hamburger span::before,
      .hamburger span::after {
        background: #cccccc;
        content: "";
        display: block;
        height: 100%;
        left: 50%;
        margin: -8% 0 0 -50%;
        position: absolute;
        top: 50%;
        width: 100%;
      }
      
      .hamburger span::before {
        margin-top: -38%;
      }
      
      .hamburger span::after {
        margin-top: 19%;
      }
      
  }







/*-------↓↓↓---検索--↓↓↓----*/


.top_search  {
    width:100%;
    margin:5px auto;
    padding:0;

}

.top_search form {
    width:100%;
    margin:5px auto 0;
    padding:0px;
    text-align:center;

}

.top_search input.window {
    width:35%;
    height:20px;
    margin:0 auto;
    background:#ececec;
}
.top_search input.butn {
    width:30%;
    height:30px;
    margin:10px auto;
}

.mein-vig{
    width:896px;
    margin:0 auto;
}

.container {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #419be0;
  }
  
  .slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
  }


main{
    width:1100px;
    margin:10px auto 0;
    /*display: flex;*/
}


/*-------↓↓↓---サイドメニュー--↓↓↓----*/
.side_menu{
    padding-bottom:10px;
    border:1px solid #dcdcdc;
    float:left;
    margin-top:20px;
    width:23%;

}

h3{
    font-weight:normal;
    font-size:14px;
    color:#000;
    padding:5px 0;
    margin:0;
    text-align:center;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7b75d+0,ff9d14+52,ef4b32+100 */
background: #f7b75d; /* Old browsers */
background: -moz-linear-gradient(top,  #f7b75d 0%, #ff9d14 52%, #ef4b32 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f7b75d 0%,#ff9d14 52%,#ef4b32 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f7b75d 0%,#ff9d14 52%,#ef4b32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b75d', endColorstr='#ef4b32',GradientType=0 ); /* IE6-9 */
    border-top:2px solid #FF7F4D;
    border-bottom:2px solid #FF7F4D;
}


a {
    text-decoration:none;
}

ul#menu, ul.sub_menu{
    list-style:none;
    margin:0;
    padding:0;
}

ul.sub_menu li{
	padding-left:35px;
	font-size:1rem;
}


#menu{

    margin:10px; 
}
.menu_in{
    color:#4B4B4B;
    font-size:11pt;
    padding:13px 10px 0;
    margin:-1px 0 0 -1px;
    cursor:pointer;
    width:235px;
    height:25px;
}
.menu_in li{
    background:#dcd3b2;       
    padding:13px 10px 0;
    border:1px solid #e5e4e6;
    font-size:11pt;
    /* width:150px; */
    width:235px;
    height:35px;
    margin:-1px 0 0 -1px;
}
.menu_in li a{
    color:#9e9478;
    display:block;
}
.menu_in img.rotate {
    transform: rotate(90deg);
}

.sub_menu li{
    width:210px;
    font-size:13px;
    padding-left:10px;
}

.side_info{
    float:left;
    margin:20px 0;
}

.side_info ul{
    margin:0;
    padding:0;
 }
 

.side_info li{
    width:176px;
    height:144px;
   list-style: none;
   border:1px solid #afafaf;
   margin-bottom:10px;
}

.side_info li a{
    display:block;
 }
 
#side_info-table{
   width:100%;
   padding:0 5px;
   line-height:30px;
   margin-top: -57px;
  }
 #side_info-table th{
   text-align:left;
   padding-left:5px;
   border-left:5px solid #dcdcdc;
  }

.new_mark{
background:#ff0000;
font-weight:bold;
color:#fff;
padding:1px;
border-radius:10px;
font-size:0.8rem
}


/*--------コンテンツ---------------------*/
#content{
    width:73%;
    margin:0 0 0 20px;
    float:right;
}

.info{
    padding-bottom:10px;
}

.info table{
    width:680px;
    margin:10px auto;
    color:#4B4B4B;
    font-weight:normal;
    border-collapse:collapse;
}


.info table th,td{
    font-weight:normal;
    padding-top:5px;
}

.dashed_af{
    border-bottom:1px dashed #afafaf;
}

.about{
    margin:20px 0 40px 0;
}

.about ul{
    margin:20px 0;
    padding:0;
}

.about li{
    width:166px;
    list-style:none;
    display: inline-block;
    font-size: 14px;
}

.about li a{
   color:blue;
   display: block;
   cursor: pointer;
   margin:0 auto;
   padding:0;
   text-decoration: underline;
   color:#000;
}

.about li a:hover{
    opacity:0.5;
 }

#content h2{
    font-weight:normal;
    font-size:25px;
    color:#000;
    padding:10px 0;
    margin:0;
    text-align:center;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7b75d+0,ff9d14+52,ef4b32+100 */
background: #f7b75d; /* Old browsers */
background: -moz-linear-gradient(top,  #f7b75d 0%, #ff9d14 52%, #ef4b32 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f7b75d 0%,#ff9d14 52%,#ef4b32 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f7b75d 0%,#ff9d14 52%,#ef4b32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b75d', endColorstr='#ef4b32',GradientType=0 ); /* IE6-9 */
    border-top:2px solid #FF7F4D;
    border-bottom:2px solid #FF7F4D;
}


/*----------------kiji.html----------------------*/

.kijibox{

}


.kiji{
	background:#fff;
	border:1px solid #dcdcdc;
	padding:10px;
	margin-top:20px;
}

.kiji_title{
	font-size:1.5rem;
	font-weight:bold;
	padding:0;
	margin:0;
}

.kiji_day{
	background:#E5E5E5;
}

.kiji_day img{
	max-width:2%;
	padding-left:5px;
	vertical-align:middle;
}

.kiji_gazo{
	margin:0 auto;
}

.kiji a{
	color:#000;
	display:inline-block;
}


.kiji a:hover{
	color:blue;
	opacity:0.8;
}
/*----------------kiji.html end----------------------*/



/*----------------kiji.html----------------------*/

.kijibox{

}


.kiji{
	background:#fff;
	border:1px solid #dcdcdc;
	padding:10px;
	margin-top:20px;
}

.kiji_title{
	font-size:1.5rem;
	font-weight:bold;
	padding:0;
	margin:0;
}

.kiji_day{
	background:#E5E5E5;
}

.kiji_day img{
	max-width:2%;
	padding-left:5px;
	vertical-align:middle;
}

.kiji_gazo{
	margin:0 auto;
}

.kiji a{
	color:#000;
	display:inline-block;
}


.kiji a:hover{
	color:blue;
	opacity:0.8;
}

.article_lead{
    overflow: hidden;
    width: 100%;
    margin-top: 16px;
}
.article_lead p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 1px;
    margin-bottom: 3px;
}

.article_open{
    margin-top: 0;
}
/*----------------kiji.html end----------------------*/


/*-----------------------category.html----------------------*/

.category dt{
	font-size:1.5rem;
	font-weight:bold;
	background:#e2e2e2;
	padding:3px;
	margin-top:10px;
}

.category dd{
	margin-top:10px;
	font-size:1.2rem;
}

/*-----------------------category.html end----------------------*/


.call{
	width:100%;
	margin-top:20px;
	border:1px solid #dcdcdc;
}

.formbox{
	width:60%;
	padding:30px 0;
	margin:0 auto;
}


input.inp30{
	width:100%;
	height:30px;
	font-size:1.2rem;
}

input.inp100{
	width:100%;
	height:100px;
	font-size:1.2rem;
}

a.send_b{
	width:300px;
	height:50px;
	display:block;
	border:1px solid #dcdcdc;
	margin:0 auto;
	padding-top:25px;
}

/* add-start */
input.send_b{
	width:300px;
	height:50px;
	display:block;
	border:1px solid #dcdcdc;
	margin:0 auto;
	/* padding-top:25px; */
}
textarea.inp100{
	width:100%;
	height:100px;
	font-size:1.2rem;
}
.call table th,td{
    padding-bottom: 15px;
}
.call table th{
    text-align: left;
    vertical-align:bottom;
    width: 70px;
}
.call table th.detail{
    text-align: left;
    vertical-align:baseline;
}
.sbs_button{
    margin-top: 20px;
}
.sbs_button input{
	width:150px;
	height:50px;
	display:inline-block;
	border:1px solid #dcdcdc;
    margin:0 auto;
    cursor: pointer;
}
.return_button{
    text-align: center;
}
/* add-end */

footer{
    max-width:100%;
    padding:10px 0;
    background:#dcdcdc;
}
.copy{
    width:300px;
    margin:0 auto;
    font-size:12px;
}


.footer_link{
    width:896px;
    margin:0 auto;
}

.footer_link h4{
    margin:20px auto;
}

.linkbox{
    display: flex;
}

.footer_link ul{
    line-height:30px;
}

.footer_link li{
    list-style-type: square;
    color:#4B4B4B;
    font-size:14px;
    margin-right:20px;
}

.fl-l{
    float:left;
}

.fl-r{
    float:right;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

 .center{
     text-align: center;
 }
.red{
    color:#ff0000;
}
.bold{
    font-weight:bold;
}







/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 

/*---------------------------------------------------------------------------*/

 @media screen and (max-width:480px) { 
    /*　画面サイズが480pxからはここを読み込む　*/

header{
    max-width:100%;
    margin:0 auto;
}

header h1{
    max-width:100%;
    margin:0 auto;
    border-bottom:5px solid #dcdcdc;
    float:none;
}

.telphone{
    width:160px;
    color:#4b4b4b;
    float:none;
    margin:10px auto 0;
    text-align: center;
}


header h1 img{
    max-width:80%;
}

main{
    max-width:100%;
    margin:0 auto;
    display: block;
}


/*-------↓↓↓---メニュー--↓↓↓----*/

    .menu-container {
        width: 100%;
    }

    .menu-container .main_menu {
      display: none;
      width: 100%;
    }
    .menu-container .main_menu .menu-item a {
      border-bottom: 1px solid #ccc;
      border-right: none;
    }
    .menu-container .main_menu .menu-item:last-child a {
      border-bottom: none;
    }
  

/*-------↓↓↓---検索--↓↓↓----*/


.top_search  {
    width:100%;
    margin:10px auto;
    background:#eaeaff;

}
.top_search form {
    width:100%;
    margin:0 auto;
    background:#eaeaff;
    padding:5px 0;
    text-align:center;

}

.top_search input.window {
    max-width:100%;
    height:30px;
    margin:0 auto;
}
.top_search input.butn {
    width:40%;
    height:37px;
    margin:5px auto 0;

}
/*----------------メインビジュアルバナ-------------------------------*/

.mein-vig{
    width:100%;
    margin:0 auto;
}

.mein-vig img{
    width:100%;
    height:auto;
    margin:0 auto;
}

.container {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #419be0;
  }
  
  .slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
  }


main{
    width:100%;
    margin:10px auto 0;
    display: block;
}


/*-------↓↓↓---サイドメニュー--↓↓↓----*/
.side_menu{
    padding-bottom:10px;
    border:1px solid #dcdcdc;
    float:none;

}

h3{
    font-weight:normal;
    font-size:14px;
    color:#fff;
    padding:5px 0;
    margin:0;
    text-align:center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7b75d+0,ff9d14+52,ef4b32+100 */
background: #f7b75d; /* Old browsers */
background: -moz-linear-gradient(top,  #f7b75d 0%, #ff9d14 52%, #ef4b32 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f7b75d 0%,#ff9d14 52%,#ef4b32 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f7b75d 0%,#ff9d14 52%,#ef4b32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b75d', endColorstr='#ef4b32',GradientType=0 ); /* IE6-9 */
}


a {
    text-decoration:none;
}

ul#menu, ul.sub_menu{
    list-style:none;
    margin:0;
    padding:0;
}

#menu{
    width:100%;
    margin:10px; 
}
.menu_in{
    color:#4B4B4B;
    font-size:11pt;
    padding:13px 0 0 8%;
    margin:-1px 0 0 -1px;
    cursor:pointer;
    width:92%;
    height:auto;
    border:1px solid #dcdcdc;
    font-size:1.2rem;
}
.menu_in li{
    background:#dcd3b2;       
    padding:13px 0;
    border:1px solid #e5e4e6;
    font-size:1.2rem;
    max-width:100%;
    height:auto;
    margin:-1px 0 0 -1px;

}
.menu_in li a{
    color:#9e9478;
    display:block;
}
.menu_in img.rotate {
    transform: rotate(90deg);
}

.sub_menu li{
    width:92%;
    font-size:1.1rem;
    padding:3% 0 3% 8%;
    border:1px solid #dcdcdc;
}

.side_info{
    float:none;
    margin:20px 0;
}

.side_info ul{
    margin:0;
    padding:0;
 }
 

.side_info li{
    width:100%;
    height:auto;
   list-style: none;
   border:none;
   margin-bottom:10px;
}

.side_info li a{
    display:block;
 }
 


/*--------コンテンツ---------------------*/
#content{
    width:100%;
    margin:0;
    float:none;
}

.info{
    padding-bottom:10px;
}

.info table{
    width:100%;
    margin:10px auto;
    color:#4B4B4B;
    font-weight:normal;
    border-collapse:collapse;
}


.info table th,td{
    font-weight:normal;
    padding-top:0px;
    padding-left:5%;
    padding-right:5%;
    display: block;
    width:90%;
    text-align: left;
    line-height:32px;
    font-size:0.8rem;
}

.info table th{
font-weight:bold;
padding-top:10px;
font-size:1rem;
}

.dashed_af{
    border-bottom:1px dashed #afafaf;
}

.about{
    margin:20px 0 40px 0;
}

.about ul{
    margin:20px 0;
    padding:0;
}

.about li{
    width:166px;
    list-style:none;
    display: inline-block;
    font-size: 14px;
}

.about li a{
   color:blue;
   display: block;
   cursor: pointer;
}

#content h2{
    font-weight:normal;
    font-size:16px;
    color:#fff;
    padding:5px 0;
    margin:0;
    text-align:center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7b75d+0,ff9d14+52,ef4b32+100 */
    background: #f7b75d; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7b75d 0%, #ff9d14 52%, #ef4b32 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f7b75d 0%,#ff9d14 52%,#ef4b32 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f7b75d 0%,#ff9d14 52%,#ef4b32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b75d', endColorstr='#ef4b32',GradientType=0 ); /* IE6-9 */
}



/*----------------kiji.html----------------------*/

.kijibox{

}


.kiji{
	background:#fff;
	border:1px solid #dcdcdc;
	padding:10px;
	margin-top:20px;
}

.kiji_title{
	font-size:1.5rem;
	font-weight:bold;
	padding:0;
	margin:0;
}

.kiji_day{
	background:#E5E5E5;
}

.kiji_day img{
	max-width:4%;
	vertical-align:middle;
}

.kiji_gazo{
	margin:0 auto;
	max-width:100%;
}

.kiji_gazo img{
	max-width:100%;
}


.kiji a{
	color:#000;
	display:inline-block;
}


.kiji a:hover{
	color:blue;
	opacity:0.8;
}

/*----------------kiji.html end----------------------*/











footer{
    max-width:92%;
    padding:10px 8%;
    background:#dcdcdc;
}
.copy{
    width:100%;
    margin:0 auto;
}


.footer_link{
    width:100%;
    margin:0 auto;
}

.footer_link h4{
    margin:20px auto;
}

.linkbox{
    display: block;
}

.footer_link ul{
    line-height:30px;
}

.footer_link li{
    list-style-type: square;
    color:#4B4B4B;
    font-size:14px;
    margin-right:20px;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
    .pc { display: none !important; }
    .sp { display: block !important; }
    



}





